<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "Logo.png" %>
    <% end %>


    <button type="button" class="btn btn-primary">AANMELDEN ALS OPLEIDINGSINSTITUUT</button>
</div>
