<section class="section-hp">

  <div class="section-item-left" id="banner-hp">
    <h1>
      Lighting Your Way
    </h1>
    <p>
      Learn about funeral planning options and to-dos <br>
      Connect with the right providers for your needs <br>
      Easily share information with friends and family
    </p>
    <% if current_user %>
    <%= button_to "GET STARTED", dashboard_path, class: "get-started-button btn-margin-top", method: "get" %>
    <% else %>
    <%= button_to "GET STARTED", new_user_session_path, class: "get-started-button btn-margin-top", method: "get" %>
    <% end %>
  </div>

  <div>
    <%= image_tag "banner1.jpg", class: "img-hp-right1" %>
  </div>

</section>
