.banner {
  margin-top: 5px;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  linear-gradient: (rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}

.banner h1 {
  margin: 0;
  color: #EB4F34;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 64px;
  font-weight: bold;
}

.banner p {
  font-size: 28px;
  color: white;
  opacity: 0.9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container-text-hp {
   margin-top: 255px;
   margin-left: 32px;
}

.paragraph1 {
  margin-top: 35px;
  margin-left: 10px;
}

.paragraph2 {
  margin-top: 10px;
  margin-left: 10px;
}

.link2 {
  margin-top: 10px;
  color: #266EF1;
  font-size: 38px;
  margin-bottom: 20px;
  margin-left: 10px;

}
