
.btn-brand{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: white;
  background-color: #EB4F34;
  border-radius: 5px;
  padding: 6px 2pc;
}

.btn-brand:hover{
  filter: brightness(92%);
  background-color: #EB4F34;
  color: white;
  text-decoration: none;
}

.btn-start{
  padding: 15px 40px;
  font-size: 22px;
}

.btn-end{
  padding: 8px 200px;
  font-size: 20px;
  margin-bottom: 25px;
}

.btn-explore{
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #EB4F34;
  background-color: white;
  border-radius: 5px;
  padding: 6px 2pc;
  margin-left: 10px;
  border: 1px solid #EB4F34;
  }

.btn-explore:hover{
  filter: brightness(92%);
  background-color: white;
  color: #EB4F34;
  text-decoration: none;
  filter: brightness(92%);
}

@media (max-width: 812px) {
  // .btn-explore {
  // margin-top: 10px;
  // display: flex;
  // width: fit-content;
  // }

  .btn-start {
    margin-bottom: 40px;
    margin-left: 40px;
    font-size: 20px;
    width: fit-content;

  }
  .btn-end {
  padding: 5px 50px;
  font-size: 18px;
  }
}

@media (min-width: 300px) and (max-width: 1024px) and (orientation: portrait) {
  .btn-explore {
    margin-top: 10px;
    display: flex;
    width: fit-content;
  }
}


@media (min-width: 300px) and (max-width: 1024px) and (orientation: landscape) {
  .btn-explore {
    margin-top: 10px;
    display: flex;
    width: fit-content;
  }
}

